<form class="form-horizontal form-material">
  <div class="form-group row">
    <div class="col-md-12 text-center">
      <img class="img-circle img-thumbnail" [src]="picture">
    </div>
  </div>
  <div class="form-group row" *ngIf="uploadPhoto">
    <fieldset class="col-md-12">
      <label class="custom-file d-block">
        <input class="custom-file-input" type="file" #fileupload (change)="uploadPicture(fileupload.files)">
        <span class="custom-file-control"></span>
      </label>
    </fieldset>
  </div>
  <div *ngIf="user.firstname else hospitalName" class="form-group row">
    <label for="example-firstName-input" class="col-md-2 col-form-label">First Name</label>
    <div class="col-md-10">
      <input class="form-control" type="text" id="example-firstName-input" [(ngModel)]="user.firstname" name="firstname" [readonly]="readOnly">
    </div>
  </div>
  <ng-template #hospitalName>
    <div class="form-group row">
      <label for="example-name-input" class="col-md-2 col-form-label">Name</label>
      <div class="col-md-10">
        <input class="form-control" type="text" id="example-name-input" [(ngModel)]="user.name" name="name" [readonly]="readOnly">
      </div>
    </div>
  </ng-template>
  <div *ngIf="user.lastname" class="form-group row">
    <label for="example-lastname-input" class="col-md-2 col-form-label">Last Name</label>
    <div class="col-md-10">
      <input class="form-control" type="text" id="example-search-input" [(ngModel)]="user.lastname" name="lastname" [readonly]="readOnly">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-username-input" class="col-md-2 col-form-label">Username</label>
    <div class="col-md-10">
      <input class="form-control" type="text" id="example-username-input" [(ngModel)]="user.username" name="username" [readonly]="readOnly">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-md-2 col-form-label">Email</label>
    <div class="col-md-10">
      <input class="form-control" type="email" id="example-email-input" [(ngModel)]="user.email" name="email" [readonly]="readOnly">
    </div>
  </div>
  <div *ngIf="!hide || showEdit;else saveBtn" class="form-group text-center p-b-20">

    <div class="col-xs-12">
      <a class="btn btn-info btn-lg waves-effect waves-light" (click)="edit()">Edit</a>
    </div>
  </div>
  <ng-template #saveBtn>
    <div class="form-group row">
      <label for="example-password-input" class="col-md-2 col-form-label">Old Password</label>
      <div class="col-md-10">
        <input class="form-control" type="password" id="example-password-input" [(ngModel)]="user.password" name="password">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-password1-input" class="col-md-2 col-form-label">New Password</label>
      <div class="col-md-10">
        <input class="form-control" type="password" id="example-password1-input" [(ngModel)]="user.password1" name="password1">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-password2-input" class="col-md-2 col-form-label">Confirm New Password</label>
      <div class="col-md-10">
        <input class="form-control" type="password" id="example-password2-input" [(ngModel)]="user.password2" name="password2">
      </div>
    </div>
    <div class="form-group text-center p-b-20">
      <div class="col-md-12 col-md-offset-8">
        <a class="btn btn-info btn-lg waves-effect waves-light col-md-2" (click)="save()">Save</a>
        <a class="btn btn-info btn-lg waves-effect waves-light col-md-2" (click)="cancel()">Cancel</a>
      </div>
    </div>
  </ng-template>
</form>