<div class="row">
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let appointment of user.appointments">
        <td>{{appointment.date}}</td>
        <td>
          <a class="btn btn-outline-success" [routerLink]="['/appointment', appointment._id]">View Details</a>
        </td>
        <td>
          <a class="btn btn-outline-success" (click)="edit()">Edit</a>
        </td>
        <td>
          <a class="btn btn-outline-danger" (click)="cancel()">Cancel</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>