<div class="container">
	<div class="row">
		<div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for hospital" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary"><span class="icon-magnifier"></span></button>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>
  <div class="row">
<table class="table table-bordered">
    <tbody>
      <tr *ngFor="let hospital of hospitals">
        <td>{{hospital.name}}</td>
        <td><a class="btn btn-outline-info" [routerLink]="['/hospital', hospital._id]">Details</a></td>
        <td><a class="btn btn-outline-success" [routerLink]="['/']">Doctors</a></td>
        <td><a class="btn btn-outline-success" [routerLink]="['/']">Departments</a></td>        
        <td><a class="btn btn-outline-success" [routerLink]="['/']">Services</a></td>
      </tr> 
    </tbody>
  </table>
</div>