<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search for doctor" />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">
              <span class="icon-magnifier"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{doctor.firstname}} {{doctor.lastname}}</td>
        <td>
          <a class="btn btn-outline-info" [routerLink]="['/doctor-profile',doctor._id]">View Profile</a>
        </td>
        <td>
          <a class="btn btn-outline-success" data-toggle="modal" data-target="#reserveModal">Reserve Appointment</a>

          <div class="modal fade" id="reserveModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="reserveModalLabel">Reservation</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">


                      <div class="card">
                        <div class="card-body">
                          <h3 class="card-title">Reserve at Dr. {{doctor.firstname}} {{doctor.lastname}}</h3>
                          <br>
                          <!-- <div class="row"> -->
                          <h6 class="card-subtitle">Choose reservation date ......</h6>
                          <form class="form-inline">
                            <div class="form-group">
                              <div class="input-group row">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-addon" (click)="d.toggle()">
                                  <i class="fa fa-calendar"></i>
                                </div>
                              </div>
                            </div>
                          </form>
                        <!-- </div> -->
                          <!-- <div class="row"> -->
                            <br>
                          <h6 class="card-subtitle">Choose reservation time ......</h6>
                          <form class="form-inline">
                            <div class="form-group">
                              <div class="row">
                                <ngb-timepicker [(ngModel)]="time" [meridian]="meridian" name="time"></ngb-timepicker>
                              </div>
                            </div>
                          </form>
                        <!-- </div> -->
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Reserve</button>
                </div>
              </div>
            </div>
          </div>


        </td>
      </tr>
    </tbody>
  </table>
</div>