<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search for doctor" />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">
              <span class="icon-magnifier"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-bordered">
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{doctor.firstname}} {{doctor.lastname}}</td>
        <td>
          <a class="btn btn-outline-info" [routerLink]="['/doctorProfile',doctor._id]">View Profile</a>
        </td>
        <!-- <td><a class="btn btn-outline-info" [routerLink]="['/doctorProfile']">View Profile</a></td> -->
        <td>
          <a class="btn btn-outline-success" (click)="reserve()">Reserve Appointment</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>